#screenshots{
            
    background-image: url("images/forest2.png");
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 25px;
    padding: 80px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
  
}

#screenshots h2{
  margin-bottom: 60px;
  font-size: 50px;
}